<div class="home">
  <header>
    <nav>
      <div class="nav-wrapper">
        <img src="./assets/icons/exam.svg" alt="logo" class="logo brand-logo" />
        <ul id="nav-mobile" class="right">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/challenges">Challenges</a></li>
          <li><a href="#">Practice</a></li>
          <li><a href="#">Compete</a></li>
          <li><a href="#">Result</a></li>
          <li><a href="#">Support</a></li>
          <li><a routerLink="/login">SignUp/Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>