<div class='bg-modal'>
  <div class="modal-content">
    <div class="close" (click)="closeLogin()"> <a>+</a></div>
    <!-- <img src="./../assets/image_icons/award.webp" alt="icon image" /> -->

    <div class="forms">

      <form (submit)="signUpUser($event)" class="signup_class">
        <div class="signup_with">
          <div class="google">
            <i class="fa fa-google"></i>
            | Google
          </div>
          <div class="facebook">
            <i class="fa fa-facebook"></i>
            | Facebook
          </div>
        </div>
        <div>
          <div class="user_name">
            <input id="userName" type="text" placeholder="First Name" />
            <!-- <input type="text" placeholder="Last Name" /> -->
          </div>
          <div>
            <input id="contactNumber" type="tel" placeholder="Mobile Number" />
          </div>
          <div>
            <input id="emailId" type="email" placeholder="Email" />
          </div>
          <div>
            <input id="password" type="password" placeholder="Password" />
          </div>
          <div>
            <input id="confirmPassword" type="password" placeholder="Confirm Password" />
          </div>
          <div class="signup_btn">
            <input id="submit" type="submit" value="Sign Up" />
          </div>
        </div>
      </form>

      <form (submit)="loginUser($event)" class="login_class">
        <h4> Login </h4>
        <div>
          <div>
            <input id="lusername" type="email" placeholder="email" />
          </div>
          <div>
            <input id="lpassword" type="password" placeholder="password" />
          </div>
          <div class="login_btn">
            <a>Forgot Password?</a>
            <input id="loginSubmit" type="submit" value="Login" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>