<div class='bg-modal'>
  <div class="modal-content">
    <div class="close" (click)="closeLogin()"> <i class="material-icons">clear</i></div>
    <!-- <img src="./../assets/image_icons/award.webp" alt="icon image" /> -->

    <div class="forms">

      <form (submit)="signUpUser($event)" class="signup_class">
        <div class="signup_with">
          <div class="google">
            <i class="fa fa-google"></i>
            | Google
          </div>
          <div class="facebook">
            <i class="fa fa-facebook"></i>
            | Facebook
          </div>
        </div>

        <div>
          <div class="input-field">
            <input type="text" id="userName">
            <label class="active" for="userName">Name</label>
          </div>

          <div class="input-field">
            <input type="email" id="emailId" class="validate">
            <label for="emailId">Email</label>
          </div>

          <div class="input-field">
            <input type="tel" id="contactNumber" class="validate">
            <label for="contactNumber">Mobile Number</label>
          </div>

          <div class="input-field">
            <input type="password" id="password" class="password">
            <label for="password">Password</label>
          </div>

          <div class="input-field">
            <input type="password" id="confirmPassword" class="password">
            <label  for="confirmPassword">Confirm Password</label>
          </div>
          
          <div class="signup_btn">
            <input id="submit" type="submit" value="Sign Up" />
          </div>
        </div>
      </form>

      <form (submit)="loginUser($event)" class="login_class">
        <h4> Login </h4>
        <div>
          <div class="input-field">
            <input type="email" id="lusername" class="validate">
            <label for="lusername">Email</label>
          </div>

          <div class="input-field">
            <input type="password" id="lpassword" class="password">
            <label for="lpassword">Password</label>
          </div>

          <div class="login_btn">
            <a>Forgot Password?</a>
            <input id="loginSubmit" type="submit" value="Login" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>