<div>
  <div>
    <section>
      <div class="sec_1">
        <div class="sec_11">
          <p>Test Yourself Among Millions of Students Preparing for the same Exam as Your!</p>
          <div>
            <img src="../assets/icons/google_store.webp" />
            <img src="../assets/icons/ios_store.webp" />
          </div>
        </div>
        <div class="sec_12">
          <p>Active Now</p>
          <ul>
            <li>SSC</li>
            <li>RRB</li>
            <li>CGl</li>
            <li>more Items...</li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="sec_2">
        <div class="sec_21">
          <img src="../assets/image_icons/award.webp" />
          <p>Award Winning</p>
        </div>
        <div class="sec_22">
          <img src="../assets/image_icons/progress.webp" />
          <p>Progress Tracking</p>
        </div>
        <div class="sec_23">
          <img src="../assets/image_icons/easy_to_use.webp" />
          <p>Easy to Use</p>
        </div>
        <div class="sec_24">
          <img src="../assets/image_icons/interactive.webp" />
          <p>Interactive and Intutive</p>
        </div>
        <div class="sec_25">
          <img src="../assets/image_icons/high_quality.webp" />
          <p>High-Quality</p>
        </div>
      </div>
    </section>

    <section class="sec_4">
      <h4>Award-Winning</h4>
      <div class="sec_41">
        <div class="sec_411">
          <img src="../assets/image_icons/winning.webp" />
          <p>Rank: 1 Aayush Vardhan</p>
        </div>
        <div class="sec_412">
          <img src="../assets/image_icons/winning.webp" />
          <p>Rank: 2 Rohan Sharma</p>
        </div>
        <div class="sec_413">
          <img src="../assets/image_icons/winning.webp" />
          <p>Rank: 3 Kabir Singh</p>
        </div>
        <div class="sec_414">
          <img src="../assets/image_icons/winning.webp" />
          <p>Rank: 4 Kashish jain</p>
        </div>
      </div>

    </section>

    <section class="sec_3">
      <div>
        <h4>Exam Performance!</h4>
        <div class="sec_31">
          <div class="sec_311">
            <img src="../assets/image_icons/sec3_fimg.webp" />
          </div>
          <div class="sec_312">
            <img src="../assets/icons/quote_icon.webp" />
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <blockquote>“I'm a testimonial. Click to edit me and add text that
                    says something nice about you and your services.
                    Let your customers review you and tell their friends how great you are.”
                  </blockquote>
                </div>
                <div class="carousel-item">
                  <blockquote>“I'm a testimonial. Click to edit me and add text that
                    says something nice about you and your services.
                    Let your customers review you and tell their friends how great you are.”
                  </blockquote>
                </div>
                <div class="carousel-item">
                  <blockquote>“I'm a testimonial. Click to edit me and add text that
                    says something nice about you and your services.
                    Let your customers review you and tell their friends how great you are.”
                  </blockquote>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section class="sec_5">
      <div class="sec_51">
        <div class="sec_511">
          <div>Home | Blog | About | Contact</div>
          <div>@ 2019 exam.com pvt ltd</div>
        </div>

        <div class="sec_512">
          <div class="sec_5121"><i class="fa fa-map-marker"></i> Indira Nagar , Bangalore </div>
          <div class="sec_5121"><i class="fa fa-phone"></i> +91 9079781576</div>
          <div class="sec_5121"><i class="fa fa-envelope"></i> exam@gmail.com</div>
        </div>


        <div class="sec_513">
          <h4>About the Company</h4>
          <p>We are providing a platform where student can give the various exam and scale themself.</p>
          <div class="sec_5131">
            <span><i class="fa fa-facebook"></i></span>
            <span><i class="fa fa-twitter"></i></span>
            <span><i class="fa fa-instagram"></i></span>
            <span><i class="fa fa-youtube"></i></span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>